<!DOCTYPE html>
<html class="no-js" lang="zxx"></html>
<html>
  <head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home || Truemart Responsive Html5 Ecommerce Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="FE\img\favicon.ico">
    <!-- Fontawesome css -->
    <link rel="stylesheet" href="FE\css\font-awesome.min.css">
    <!-- Ionicons css -->
    <link rel="stylesheet" href="FE\css\ionicons.min.css">
    <!-- linearicons css -->
    <link rel="stylesheet" href="FE\css\linearicons.css">
    <!-- Nice select css -->
    <link rel="stylesheet" href="FE\css\nice-select.css">
    <!-- Jquery fancybox css -->
    <link rel="stylesheet" href="FE\css\jquery.fancybox.css">
    <!-- Jquery ui price slider css -->
    <link rel="stylesheet" href="FE\css\jquery-ui.min.css">
    <!-- Meanmenu css -->
    <link rel="stylesheet" href="FE\css\meanmenu.min.css">
    <!-- Nivo slider css -->
    <link rel="stylesheet" href="FE\css\nivo-slider.css">
    <!-- Owl carousel css -->
    <link rel="stylesheet" href="FE\css\owl.carousel.min.css">
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="FE\css\bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="FE\css\default.css">
    <!-- Main css -->
    <link rel="stylesheet" href="FE\style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="FE\css\responsive.css">

    <!-- Modernizer js -->
    <script src="FE\js\vendor\modernizr-3.5.0.min.js"></script>

  </head>
  <body>
    {{{body}}}
    <script src="FE\js\vendor\jquery-3.2.1.min.js"></script>
    <!-- Countdown js -->
    <script src="FE\js\jquery.countdown.min.js"></script>
    <!-- Mobile menu js -->
    <script src="FE\js\jquery.meanmenu.min.js"></script>
    <!-- ScrollUp js -->
    <script src="FE\js\jquery.scrollUp.js"></script>
    <!-- Nivo slider js -->
    <script src="FE\js\jquery.nivo.slider.js"></script>
    <!-- Fancybox js -->
    <script src="FE\js\jquery.fancybox.min.js"></script>
    <!-- Jquery nice select js -->
    <script src="FE\js\jquery.nice-select.min.js"></script>
    <!-- Jquery ui price slider js -->
    <script src="FE\js\jquery-ui.min.js"></script>
    <!-- Owl carousel -->
    <script src="FE\js\owl.carousel.min.js"></script>
    <!-- Bootstrap popper js -->
    <script src="FE\js\popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="FE\js\bootstrap.min.js"></script>
    <!-- Plugin js -->
    <script src="FE\js\plugins.js"></script>
    <!-- Main activaion js -->
    <script src="FE\js\main.js"></script>
  </body>
</html>
